@media screen and (min-width :480px) {
    body { 
          background-color: black;
          color : white;
         }

    h1 {
        text-align: center;
        color: darkblue;
       }
    img {
         padding: 10px;
         border-radius: 10px;
    }
}
@media screen and (min-width :760px) {
    body {
          background-color: darksalmon;
          color: gray;
         }

    h2 {
        text-align: center;
        color: darkmagenta;
        font-weight: bold;
        font-style: italic;
       }
    body {
          background-color: lightblue;
         }
    a {
       text-decoration: none;
       font-weight: bolder;
       color: darkcyan;
       margin-left: 20px;
      }
    .first {
         float: left;
         overflow: hidden;
         padding: 10px;
         border-radius: 10px;
        }
    .second {
             float: right;
             overflow: hidden;
             padding: 10px;
             border-radius: 10px;
             
            }
    .copyright {
                border-top: dodgerblue;
                font-style: italic;
               }
    .general {
              font-style: italic;
              padding-left: 20px;

             }
    p { 
       font-family: sans-serif;
       color: saddlebrown;
      }
    .important {
                 font-style: italic;
                 font-weight: bold;
                 color: darkblue;
    }
}  