@media screen and (min-width :480px) {
    body { 
          background-color: black;
          color : white;
         }

    h1 {
        text-align: center;
        color: darkblue;
       }
}
@media screen and (min-width :760px) {
    
    body {
          background-color: lightblue;
         }
    a {
       text-decoration: none;
       font-weight: bolder;
       color: darkcyan;
       margin-left:40px;
       font-size: larger;
       font-style: italic;
      }
    img {
         float: left;
         padding: 20px;
         width: 700px;
         height: 450;
         border-radius: 10px;
       }
    p { 
       font-family: sans-serif;
       color: saddlebrown;
    }
}  