@media screen and (min-width :480px) {
    body { 
          background-color: black;
          color : white;
         }

    h1 {
        text-align: center;
        color: darkblue;
       }
@media screen and (min-width :760px) {
        body {
              background-color: darksalmon;
              color: gray;
             }
        body {
              background-color: lightblue;
             }
        a {
           text-decoration: none;
           font-weight: bolder;
           color: darkcyan;
           margin-left: 20px;
          }
